html {
    font-family: "メイリオ",sans-serif;
}

/*画像*/

div.imgbox {
    margin-bottom: 6px;
}

/*サイズ・日付テキスト*/

div.detail {
    font-size: 10px;
    line-height: 1.0em;
    margin-bottom: 5px;
}

div.detail:first-line {
    color: #339CC5;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.0em;
}

/*ボタン*/

div.radio {
    padding: 0;
}

div.radio label {
    background: #F7F7F7;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 4px 10px;
    width: 145px;
}

div.radio label:hover {
    background: #C0E7F1;
    border: 1px solid #7BD1E4;
}

div.radio input[type="radio"]:checked + label {
    background: #C0E7F1;
    border: 1px solid #7BD1E4;
}

/*詳細ボタン*/

.result a {
    font-size: 12px;
}

/*クリア*/

.result div input[type="button"] {
    font-size: 10px;
    margin-right: 13px;
}

/*
*グレースケール
*/

/*リンク*/

a {
    color: #288CFA;
    font-weight: bold;
}

a:visited {
    color: #CC0066;
}

a:hover {
    color: #eeeeee;
}

a:active {
    color: #288CFA;
}

/*全体の背景色*/

body,th,td {
    background-color: #151C26;
    color: #999999;
}

div#menu ul {
    background-color: #151C26;
    color: #999999;
    height: 100%;
}

/*テーブルセル内のtooltip*/

body a span {
    font-weight: normal;
}

/*ラジオボタンのスタイル*/

body div.radio label {
    background-color: transparent;
    padding: 2px 5px;
    margin-bottom: 0;
    border: none;
    border-bottom: solid 1px #ffffff;
}

body div.radio label:hover {
    background: #C0E7F1;
    border: none;
    border-bottom: 1px solid #7BD1E4;
}

body div.radio input[type="radio"]:checked + label {
    background: #C0E7F1;
    border: none;
    border-bottom: 1px solid #7BD1E4;
}
